<!-- templates/home.html-->
{% extends "recipeApp/base.html" %}

{% block title %}Home{% endblock %}

{% block main_body %}
{% if user.is_authenticated %}
Hi {{ user.email }}!
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}
<div class="card mx-auto mt-4 p-md-5 align-items-center" style="width:50%;">
  <h1 class="text-center">You are not logged in</h1>
  <p>Log in to see your personalized home page</p>
  <a class="btn btn-lg btn-block btn-primary" href="{% url 'login' %}">Log In</a>
</div>
{% endif %}
{% endblock %}