{% extends "template.html" %}
{% load static %}

{% block title %}
    Chef Home Page
{% endblock title %}

{% block style %}
    
{% endblock style %}

{% block main_body %}
    <div class="container overflow-hidden">
        <div class="row p-1 m-1" align="center">
            <p>Welcome, {{chef_id}}: {{chef_username}} </p>
            <p>{{chef_name}}</p>
            <figure class="figure">
                <img src="{% static chef_avatar_dir %}" class="figure-img rounded-circle img-thumbnail img-fluid">
            </figure>
            <div class="col-1">
            </div>
            <div class="col-10">
                <label for="descriptiontext" class="form-label">Description</label>
                <textarea class="form-control" id="descriptiontext" rows="3"></textarea>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>

{% endblock main_body %}

{% block scripts %} 

{% endblock scripts %}
