
{% extends "recipeApp/base.html" %}
{% load static %}

{% block title %}
    Main Site Discover Page
{% endblock title %}

{% block style %}

    .container-inner{
        background-color: #e8f1ff; /* Example: light gray background */
        padding-top: 20px;
        border-radius: 10px;
    }

    .profile-pic {
        width: 150px;  /* Define a fixed size */
        height: 150px; /* Same value as the width for a perfect circle */
        object-fit: cover; /* Ensures the image covers the space without being distorted */
                }
    a {
        text-decoration: none;
    }

    .container {
        background-color: #ffffff; /* Example: light gray background */
        border-radius: 10px;
    }
        
{% endblock style %}

{% block main_body %}
<div class="container">
    <div class="container overflow-hidden">
        <form class="row p-1 m-1 form-inline" role="form" action="{% url 'discover' %}" method="post">
            {% csrf_token %}
            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="search chefs or recipes: ">
            </div>
            <div class="form-group col-auto">
                <label class="visually-hidden" for="chef_name">chef name or recipe name</label>
                <input type="text" class="form-control" id="chef_name" placeholder="chef name or recipe name" name="searchtext">
            </div>
            <div class="form-group col-auto">
                <button type="submit" class="btn btn-primary">search</button>  
            </div>
        </form>
        {% if search_recipes %}
        <div class="container overflow-hidden">
            <div class="row border border-dark rounded-3 p-1 m-1 gap-1">
                <h2>Recipe search results<h2>
                {% for recipe in search_recipes %}
                    <div class="col-lg-4 d-flex align-items-stretch">
                        {% include 'recipe_template.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if search_chef_profs %}
        <div class="container overflow-hidden">
            <div class="row border border-dark rounded-3 p-1 m-1 gap-1">
                <h2>Chef profile search results<h2>
                {% for chef_prof in search_chef_profs %}
                        {% include 'chef_prof_template.html' %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% for chef_prof in chef_profs %}
            {% include 'chef_prof_template.html' %}
        {% endfor %}
    </div>
</div>
{% endblock main_body %}

{% block scripts %} 

{% endblock scripts %}
