
{% extends "recipeApp/base.html" %}
{% load static %}

{% block title %}
    Main Site Discover Page
{% endblock title %}

{% block style %}

    .container-inner{
        background-color: #e8f1ff; /* Example: light gray background */
        padding-top: 20px;
        border-radius: 10px;
    }

    .profile-pic {
        width: 150px;  /* Define a fixed size */
        height: 150px; /* Same value as the width for a perfect circle */
        object-fit: cover; /* Ensures the image covers the space without being distorted */
                }
    a {
        text-decoration: none;
    }

    .container {
        background-color: #ffffff; /* Example: light gray background */
        padding: 30px;
        border-radius: 10px;
    }
        
{% endblock style %}

{% block main_body %}
    <div class="container overflow-hidden">
        <form class="row p-1 m-1 form-inline" role="form" action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="search chefs or recipes: ">
            </div>
            <div class="form-group col-auto">
                <label class="visually-hidden" for="chef_name">chef name or recipe name</label>
                <input type="text" class="form-control" id="chef_name" placeholder="chef name or recipe name" name="searchtext">
            </div>
            <div class="form-group col-auto">
                <button type="submit" class="btn btn-primary">search</button>  
            </div>
        </form>
        {% for chef_prof in chef_profs %}
            <div class="container-inner border border-dark rounded-3 overflow-hidden">
                <div class="row border-bottom border-dark">
                    <div class="col-md-2 text-center">
                        <img class="rounded-circle profile-pic img-thumbnail"  src="{{ chef_prof.profile_picture.url }}">
                    </div>
                    <div class="col-md-8">
                        <div>
                            <a class="link-dark" text-decoration="None" href="{% url 'view_chef_prof' chef_prof.id %}"><h1 class="text-center">{{chef_prof.title}}</h1></a>
                        </div>    
                        <div>
                            {{chef_prof.chef.first_name}} {{chef_prof.chef.last_name}}
                        </div>
                        <div>
                            {{chef_prof.description}}
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <a class="btn btn-secondary" href="{% url 'view_chef_subscription' chef_prof.chef.id %}">Subscribe</a>
                    </div>
                </div>
                <div><br></div>
                <div id="multiItemCarousel" class="carousel slide border-bottom" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for recipe in chef_prof.get_discovery_recipes %}
                            {% if forloop.counter0|divisibleby:3 %}
                                {% if forloop.first %}
                                <div class="carousel-item active">
                                {% else %}
                                <div class="carousel-item">
                                {% endif %}
                                <div class="row">
                            {% endif %}
                                    <div class="col-md-4">
                                        {% include 'recipe_template.html' %}
                                    </div>
                            {% if forloop.counter|divisibleby:3 or forloop.last %}
                                </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
            {{ value|linebreaks }}
        {% endfor %}
    </div>
{% endblock main_body %}

{% block scripts %} 

{% endblock scripts %}
