
{% extends "template.html" %}
{% load static %}

{% block title %}
    Search Page
{% endblock title %}

{% block style %}
    
{% endblock style %}

{% block main_body %}
    <div class="container overflow-hidden">
        <div class="row justify-content-between p-1 m-1">
            <div class="col-auto">
                <p>Discover your recipes. </p>
            </div>   
            <div class="col-auto">
                {% if is_authenticated %}
                <img src="{% static avatar_dir %}" class="rounded-circle img-thumbnail img-fluid">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">logout</button>
                </form>
                {% else %}
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">signup</button>
                </form>
                {% endif %}
            </div>    
        </div>
    </div>
    <div class="container overflow-hidden">
        <form class="row p-1 m-1 form-inline" role="form" action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" value="search chefs or recipes: ">
            </div>
            <div class="form-group col-auto">
                <label class="visually-hidden" for="chef_name">chef name or recipe name</label>
                <input type="text" class="form-control" id="chef_name" placeholder="chef name or recipe name" name="searchtext">
            </div>
            <div class="form-group col-auto">
                <button type="submit" class="btn btn-primary">search</button>  
            </div>
        </form>
    </div>
    <div class="container overflow-hidden">
        <div class="row border border-dark rounded-3 p-1 m-1 gap-1">
            <p>chefs result: </p>
            {% for rec_chef in rec_chefs %}
            <div class="col-auto">
                <div class="card">
                    <img src="{% static rec_chef.avatar_dir %}" class="card-img-top img-thumbnail img-fluid" alt="...">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ rec_chef.title }}</li>
                            <li class="list-group-item">{{ rec_chef.chef_name }}</li>
                        </ul>
                    </div>
                </div>
            </div>  
            {% endfor %}  
        </div>
    </div>
    <div class="container overflow-hidden">
        <div class="row border border-dark rounded-3 p-1 m-1 gap-1">
            <p>recipes result: </p>
            {% for rec_recipe in rec_recipes %}
            <div class="col-auto">
                <div class="card">
                    <img src="{% static rec_recipe.first_img_dir %}" class="card-img-top img-thumbnail img-fluid" alt="...">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ rec_recipe.title }}</li>
                            <li class="list-group-item">{{ rec_recipe.posted_time }}</li>
                            <li class="list-group-item">{{ rec_recipe.chef_name }}</li>
                        </ul>
                    </div>
                </div>
            </div>  
            {% endfor %}  
        </div>
    </div>
{% endblock main_body %}

{% block scripts %} 

{% endblock scripts %}
