{% extends "recipeApp/base.html" %}
{% load static %}

{% block title %}
    Subscriber Home Page
{% endblock title %}

{% block style %}

        .row {
            background-color: #e8f1ff;
        }
    
{% endblock style %}

{% block main_body %}
    <div class="container overflow-hidden">
        <div class="row border border-dark rounded-3 p-1 m-1 gap-1">
            <p>subscribe chefs: </p>
            {% for sub_chef in sub_chefs %}
            <div class="col-lg-4 d-flex align-items-stretch">
                {% include 'chef_template.html' with chef=sub_chef.chef chef_name=sub_chef.chef_name%}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container overflow-hidden">
        <div class="row border border-dark rounded-3 p-1 m-1 gap-1">
            <p>new recipes: </p>
            {% for sub_recipe in sub_recipes %}
            <div class="col-lg-4 d-flex align-items-stretch">
                {% include 'recipe_template.html' with recipe=sub_recipe.recipe chef_name=sub_recipe.chef_name%}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container overflow-hidden">
        <div class="row border border-dark rounded-3 p-1 m-1 gap-1">
            <p>bookmarks: </p>
            {% for bookmark in bookmarks %}
                {% with recipe=bookmark.recipe %}
                <div class="col-lg-4 d-flex align-items-stretch">
                    {% include 'recipe_template.html' %}
                </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock main_body %}

{% block scripts %} 

{% endblock scripts %}

    