{% extends "template.html" %}
{% load static %}

{% block title %}
    Subscriber Home Page
{% endblock title %}

{% block style %}
    
{% endblock style %}

{% block main_body %}
    <div class="container overflow-hidden">
        <div class="row p-1 m-1">
            <div class="col-4">
                <p>Welcome, {{sub_id}}: {{sub_username}} </p>
            </div>
            <div class="col-3">
                <p class="text-center">
                    <button type="button" class="btn btn-primary">manage subscription</button>
                </p>
            </div>  
            <div class="col-3">
                <button type="button" class="btn btn-info">grocery list</button>
            </div>  
            <div class="col-2">
                <img src="{% static sub_avatar_dir %}" class="rounded-circle img-thumbnail img-fluid">
            </div>    
        </div>
    </div>
    <div class="container overflow-hidden">
        <div class="row p-1 m-1">
            <div class="col-4">
                <p>want to be a chef? 
                    <form action="{% url 'to_chef_role' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">click</button>
                    </form>
                </p>
            </div>  
        </div>
    </div>
    <div class="container overflow-hidden">
        <div class="row border border-dark rounded-3 p-1 m-1 gap-1">
            <p>New Recipes from your subscription</p>
            {% for sub_recipe in sub_recipes %}
            <div class="col-5 col-md-3">
                <div class="card">
                    <img src="{% static sub_recipe.first_img_dir %}" class="card-img-top img-thumbnail img-fluid" alt="...">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ sub_recipe.title }}</li>
                            <li class="list-group-item">{{ sub_recipe.posted_time }}</li>
                            <li class="list-group-item">{{ sub_recipe.chef_name }}</li>
                        </ul>
                    </div>
                </div>
            </div>  
            {% endfor %}
            <div class="col-1 col-md-3">
                <p>...</p>
            </div>   
        </div>
    </div>
{% endblock main_body %}

{% block scripts %} 

{% endblock scripts %}

    