{% extends "recipeApp/base.html" %}

{% block title %}Change Password{% endblock %} 
{% block style %}
    .card{
        background-color: #e8f1ff;
        border-radius: 10px;
    }
{% endblock %}
{% block main_body %}
<div class="container mt-4">
    <h1 class="text-center">Change Password</h1>
    <br/>
    <div class="card mx-auto p-md-4" style="width: 65%;">
        <form id="passwordForm" action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="old_password" class="form-label"><strong>Current Password:</strong></label>
                <input type="password" class="form-control" id="old_password" name="old_password" required>
            </div>
            <div class="mb-3">
                <label for="new_password1" class="form-label"><strong>New Password:</strong></label>
                <input type="password" class="form-control" id="new_password1" name="new_password1" required>
            </div>
            <div class="mb-3">
                <label for="new_password2" class="form-label"><strong>Confirm New Password:</strong></label>
                <input type="password" class="form-control" id="new_password2" name="new_password2" required>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
            <button type="reset" class="btn btn-danger">Reset</button>
            <a href="{% url 'view_user_profile' %}" class="btn btn-info">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}