{% extends "recipeApp/base.html" %}

{% block title %}My Profile{% endblock %} 
{% block style %}
    .card{
        background-color: #e8f1ff;
        border-radius: 10px;
    }
{% endblock %}
{% block main_body %}
<div class="container mt-4">
    <h1 class="text-center">Profile Details</h1>
    <br/>
    <div class="card mx-auto p-md-3" style="width: 75%;">
        <div class="d-flex align-content-end justify-content-end">
            {% if is_chef %}
                <a href="{% url 'view_chef_prof' %}" class="btn btn-primary align-content-end me-2">View My Chef Profile</a>
            {% elif not is_admin %}
                <a href="" class="btn btn-primary align-content-end me-2">Become Chef</a>
            {% endif %}
            <a href="{% url 'edit_user_profile' %}" class="btn btn-info align-content-end">Edit Profile</a>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <!-- First Name -->
                    <div class="col-md-6 mb-3">
                        <label for="firstName" class="form-label"><strong>First Name:</strong></label>
                        <input type="text" class="form-control" id="firstName" value="{{ user.first_name }}" readonly>
                    </div>
                    <!-- Last Name -->
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label"><strong>Last Name:</strong></label>
                        <input type="text" class="form-control" id="lastName" value="{{ user.last_name }}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <!-- Email -->
                        <label for="email" class="form-label"><strong>Email:</strong></label>
                        <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <!-- Passwords Change -->
                        <!-- Label -->
                        <label for="password" class="form-label"><strong>Password:</strong></label>
                        <div class="d-flex align-items-center mb-2">
                            <input type="password" class="form-control w-50 me-3" id="password" value="********" readonly>
                            <!-- Change Password Button -->
                            <a href="{% url 'change_password' %}" class="btn btn-warning w-50 me-0">Change Password</a>
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <!-- Roles -->
                    <label for="roles" class="form-label"><strong>You are currently logged in as:</strong></label>
                    <ul class="list-unstyled">
                        {% if user.is_superuser %}
                            {% for role in user.role.all %}
                                <li>{{ role.get_role_display }}</li>
                            {% endfor %}
                        {% else %}
                            <li>Subscriber</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="mb-3">
                    <!-- Joined Date -->
                    <label for="joined" class="form-label"><strong>Joined Since:</strong></label>
                    <input type="text" class="form-control" id="joined" value="{{ user.date_joined|date:'Y-m-d' }}" readonly>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}