{% extends "base.html" %}

{% block title %}Manage Subscriptions{% endblock %}

{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .subscription-card {
        margin-bottom: 20px;
    }

    .subscription-card .card-body {
        padding: 20px;
    }

    .row {
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Create a Subscription Plan</h1>

    <!-- Subscription Form -->
    <form method="post" actions="{% url 'create_chef_subscription' %}">
        {% csrf_token %}
        {% if not form.instance.id %}
        {% include 'save_chef_subscription.html' %}
        {% endif %}
        {% if chef_subscriptions %}
    
        <h2>Subscriptions</h2>
        <div class="row">
            {% for subscription in chef_subscriptions %}
            <div class="col-md-3">
                <div class="card subscription-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ subscription.title }}</h5>
                        <p class="card-text">{{ subscription.get_caption }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button formnovalidate name='edit' class="btn btn-icon" value="{{ subscription.id }}"><i class="fas fa-pencil-alt"></i></button>
                                <button formnovalidate name='delete' class="btn btn-icon" value="{{ subscription.id }}"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
